figure{
	position: relative;
	width: 29%;
	height: 300px;
	overflow: hidden;
	float: left;
}
figcaption{
	position: absolute;
	top: 0;
	left: 0;
	color: #FFFFFF;
	font-family: "微软雅黑";
}
figure img{
	opacity: 0.8;
}
figure figcaption p{
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	-ms-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
figure img{
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	-ms-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}
figure figcaption p,h2,span,div{
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	-ms-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}

@media screen and (max-width:600px) {
	figure{
		width: 100%;
	}	
}

@media screen and (min-width:601px) and (max-width:1000px) {
	figure{
		width: 50%;
	}	
}

@media screen and (min-width:1001px) {
	figure{
		width: 29%;
	}
}
/*一*/
.test1{
	background: #2F0000;
}
.test1 figcaption p{
	background: #FFFFFF;
	color: #333;
	margin: 3px;
	text-align: center;
	-webkit-transform: translate(-120px,0);
	-moz-transform: translate(-120px,0);
	-ms-transform: translate(-120px,0);
	-o-transform: translate(-120px,0);
	transform: translate(-120px,0);
}
.test1 figcaption p:nth-of-type(1){
	-webkit-transition-delay: .05s;
	-moz-transition-delay: .05s;
	-ms-transition-delay: .05s;
	-o-transition-delay: .05s;
	transition-delay: .05s;
	
}
.test1 figcaption p:nth-of-type(2){
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;
	-ms-transition-delay: .1s;
	-o-transition-delay: .1s;
	transition-delay: .1s;
}
.test1 figcaption p:nth-of-type(3){
	-webkit-transition-delay: .15s;
	-moz-transition-delay: .15s;
	-ms-transition-delay: .15s;
	-o-transition-delay: .15s;
	transition-delay: .15s;
}
.test1 figcaption{
	padding: 20px;
}
.test1:hover figcaption p{
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0);
}
.test1:hover img{
	-webkit-transform: translate(-50px,0);
	-moz-transform: translate(-50px,0);
	-ms-transform: translate(-50px,0);
	-o-transform: translate(-50px,0);
	transform: translate(-50px,0);
	opacity: 0.5;
}

/*二*/
.test2{
	background: #030;
}
.test2 figcaption{
	width: 100%;
	height: 100%;
}
.test2 figcaption div{
	border: 2px solid #FFFFFF;
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	-webkit-transform: translate(0,-350px) rotate(0deg);
	-moz-transform: translate(0,-350px) rotate(0deg);
	-ms-transform: translate(0,-350px) rotate(0deg);
	-o-transform: translate(0,-350px) rotate(0deg);
	transform: translate(0,-350px) rotate(0deg);
}
.test2 figcaption h2{
	margin-top: 15%;
	margin-left: 15%;
}
.test2 figcaption p{
	margin-left: 15%;
	-webkit-transform: translate(0,50px);
	-moz-transform: translate(0,50px);
	-ms-transform: translate(0,50px);
	-o-transform: translate(0,50px);
	transform: translate(0,50px);
	opacity: 0;
}
.test2:hover figcaption div{
	-webkit-transform: translate(0,0) rotate(360deg);
	-moz-transform: translate(0,0) rotate(360deg);
	-ms-transform: translate(0,0) rotate(360deg);
	-o-transform: translate(0,0) rotate(360deg);
	transform: translate(0,0) rotate(360deg);
}
.test2:hover img{
	opacity: 0.5;
	-webkit-transform: translate(-50px,0);
	-moz-transform: translate(-50px,0);
	-ms-transform: translate(-50px,0);
	-o-transform: translate(-50px,0);
	transform: translate(-50px,0);
}
.test2:hover figcaption p{
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0);
	opacity: 1;
}

/*三*/
.test3{
	background: #000;
}
.test3 figcaption{
	top: 30%;
	left: 15%;
}
.test3:hover img{
	opacity: 0.5;
}
.test3 figcaption h2{
	-webkit-transform: skew(90deg);
	-moz-transform: skew(90deg);
	-ms-transform: skew(90deg);
	-o-transform: skew(90deg);
	transform: skew(90deg);
}
.test3 figcaption p{
	-webkit-transform: skew(90deg);
	-moz-transform: skew(90deg);
	-ms-transform: skew(90deg);
	-o-transform: skew(90deg);
	transform: skew(90deg);
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;
	-ms-transition-delay: .1s;
	-o-transition-delay: .1s;
	transition-delay: .1s;
}
.test3:hover figcaption h2{
	-webkit-transform: skew(0deg);
	-moz-transform: skew(0deg);
	-ms-transform: skew(0deg);
	-o-transform: skew(0deg);
	transform: skew(0deg);
}
.test3:hover figcaption p{
	-webkit-transform: skew(0deg);
	-moz-transform: skew(0deg);
	-ms-transform: skew(0deg);
	-o-transform: skew(0deg);
	transform: skew(0deg);

}

/*四*/
.test4{
	background: #000000;
}
.test4 figcaption h2{
	margin-top: 15%;
	margin-left: 15%;
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
	opacity: 0;
}
.test4 figcaption p{
	margin-left: 15%;
	margin-top: 5px;
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
	opacity: 0;
}
.test4 figcaption{
	width: 100%;
	height: 100%;
}
.test4 figcaption div{
	border: 2px solid #FFFFFF;
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
	opacity: 0;
}
.test4:hover figcaption div{
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
	opacity: 1;
}
.test4:hover img{
	opacity: 0.5;
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}
.test4:hover figcaption h2{
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
	opacity: 1;
}
.test4:hover figcaption p{
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
	opacity: 1;
}

.test5{
	background: #000000;
}
.test5 figcaption h2{
	margin-top: 30%;
	margin-left: 50%;
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
	opacity: 0;
}
.test5 figcaption p{
	margin-left: 30%;
	margin-top: 20px;
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
	opacity: 0;
}
.test5 figcaption #left{
	border-top: 2px solid #FFFFFF;
	width: 80%;
	height: 80%;
	position: absolute;
	top: 20%;
	left: -40%;
	opacity: 0;
}
.test5:hover figcaption #left{
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
	transform: translateX(50%);
	opacity: 1;
}
.test5 figcaption #right{
	border-bottom: 2px solid #FFFFFF;
	width: 80%;
	height: 80%;
	position: absolute;
	bottom: 20%;
	right: 40%;
	opacity: 0;
}
.test5:hover figcaption #right{
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
	transform: translateX(50%);
	opacity: 1;
}
.test5 figcaption{
	width: 100%;
	height: 100%;
}
.test5:hover img{
	opacity: 0.5;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}
.test5:hover figcaption h2{
	-webkit-transform: scale(2,2);
	-moz-transform: scale(2,2);
	-ms-transform: scale(2,2);
	-o-transform: scale(2,2);
	transform: scale(2,2);
	opacity: 1;
}
.test5:hover figcaption p{
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	-ms-transform: translateX(20px);
	-o-transform: translateX(20px);
	transform: translateX(20px);
	opacity: 1;
}

